TEAM_ID=

PRODUCT_NAME=TechUp_MiniProject_QuangDV1
PRODUCT_BUNDLE_IDENTIFIER=com.example.techup_miniproject_quangdv1.TechUp_MiniProject_QuangDV1$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

// ── API Configuration (Single Source of Truth for iOS) ──────
API_KEY=sk-ePKj7HupzKwrm0BBDpKgbcptFg6zhJL7Fx0ZpfOMzhTa0w2efS
PUBLIC_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5z8DrSdxAFy5ju27JzxUDGD5OdPRnKVrXPypiBVT7NK4ltgbcud3+Li3H1DiAFNvaSDPumZMEbAkfGWZ6s3KtiI7TRmZwQ2yyH6mug6GhrCLD6CZJUQ2CPmhO3JYTYOgN53E6hwm/Teb9I156S04qHjLLLBxk9Mklu5X06kdhMBYwHFAZ3oByeoWUryrQC0Mv9C5ZahKzoQNuJNL2sv+ws2e5Zaj8Rid4AjhvqB6dYhWP4QM+0IiNjs/j08aRgcyOrenbQEIieU+XF6mQWF2Jfg317e0KjWnpru+uPVVgrEn9rNvQeXu2u4SZhT6rnLQzBLbJrngNcNw3gXfxxsoowIDAQAB
APP_BUNDLE_ID=for.techtrek
APP_NAME_VALUE=Tecktrek
API_TOKEN=not_get_api_token
DEVICE_ID=123.0
APP_VERSION_VALUE=1.0.0
BASE_URL=https:/$()/api-img-gen-wrapper.aperogroup.ai
TIMESTAMP_BASE_URL=https:/$()/video-gen-core.aperogroup.ai